<!DOCTYPE html>
<html>
  <head>
    <title>Sparsey</title>
  </head>
  <body>
    <header>
      <h1>Sparsey</h1>
      <p>~✧~</p>
    </header>
    <%= yield %>

    <footer>
      <p>~✧~</p>
      <p>This blog was written in <a href="http://www.ruby-lang.org">Ruby</a> with <a href="http://www.sinatrarb.com">Sinatra</a>.
  </body>
</html>
