<!DOCTYPE html>
<html>
  <head>
    <title>soft electric silence</title>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>Soft electric silence</h1>
    </header>

    <%= yield %>

    <footer>
      <p>This blog was written using <a href="http://www.ruby-lang.org">Ruby</a>/<a href="http://www.sinatrarb.com">Sinatra</a>.
    </footer>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="/javascripts/sparsey.js"></script>
  </body>
</html>
