@font-face {
  font-family: 'Fanwood';
  src: url('/fonts/fanwood/fanwood-webfont.eot');
  src: url('/fonts/fanwood/fanwood-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/fanwood/fanwood-webfont.woff'),
       url('/fonts/fanwood/fanwood-webfont.ttf'),
       url('/fonts/fanwood/fanwood-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Linden Hill';
  src: url('/fonts/LindenHill/LindenHill-webfont.eot');
  src: url('/fonts/LindenHill/LindenHill-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/LindenHill/LindenHill-webfont.woff'),
       url('/fonts/LindenHill/LindenHill-webfont.ttf'),
       url('/fonts/LindenHill/LindenHill-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Tenderness';
  src: url('/fonts/tenderness/tenderness-webfont.eot');
  src: url('/fonts/tenderness/tenderness-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/tenderness/tenderness-webfont.woff'),
       url('/fonts/tenderness/tenderness-webfont.ttf'),
       url('/fonts/tenderness/tenderness-webfont.svg#svgFontName') format('svg');
}

/* Thanks to The League of Moveable Type (www.theleagueofmoveabletype.com) for
Fanwood and Linden Hill, and to Font Squirrel (www.fontsquirrel.com) for
Tenderness! */

body {
  width: 830px;
  margin: 0 auto;
  text-align: center;
  color: #444444; 
  background-color: #fafafb;
  font-family: 'Fanwood', 'Times New Roman', serif;

  a {
    color: #444499;
  }

  a:hover {
    text-decoration: none;
  }

  h1 {
    font-weight: normal;
  }

  time, footer>p {
      font-style: italic;
      font-size: 17px;
      color: #80808f;
    }

  header {
    h1 {
      font-family: "Tenderness";
      font-size: 72px;
      margin: 40px 0 10px 0;
      color: #003000;
    }
  }
   
  article {
    padding: 0;
    margin: 0;

    .dingbats {
      margin: 0;
      padding: 0;
      font-size: 48px;
      color: #009000;

      .star {
        color: #00c000;
      }
    }

    h1 {
      font-family: "Linden Hill", serif;
      font-size: 33px;

      a { 
        text-decoration: none; 
        color: #444477;
      }

      a:hover { 
        text-decoration: underline; 
        color: #44449a;
      }
    }

    section {
      text-align: left;
      width: 700px;
      margin: 0 auto;
      line-height: 170%;
      font-size: 22px;
    }

    pre { margin-left: 25px; }
    
    code { font-size: 19px; }
  }

  footer:before {
    content: "· ❦ ·";
    font-size: 24px; 
  }
}
